/* CSS PARA LISTA FAMILIAS PROFESIONALES */

.busqueda-proyectos {
    max-width: 800px;
    margin: auto;
}

.boton-filtrar {
    background: none;
    border: none;
    color: black;
    font-weight: bold;
    text-align: left;
    display: block;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
}

.botonFamilias{
    color: black;
    border-radius: 5px;
    &:hover{
        background-color: #f59505;
        border-color: #b87107;
    }
}

.botonFamilias.seleccionado {
    /* Estilos para los botones seleccionados */
    background-color: #b87107;
    color: black;
    border: 2px solid #000000;
}

.resultados {
    margin-top: 20px;
    padding: 15px;
    border-top: 1px solid #ccc;
}
