/* CSS PARA EL PIE DE PAGINA */

.logos{
    max-width: 35px;
    margin: 5px;
}

.logoMP{
    max-width: 70px;
    margin: 5px;
}

.datosAPI{
    margin: 0 15%;
    justify-content: center;
    display: flex;
    background-color: orange;
}

.datosIndividuales {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 75px;
    
}

.footer{
    
    margin: 25px 20px;
}

.fondoFooter{
    background-color: #374f59;
    color: white;
}

a{
    text-decoration: none;
    color: white;
    &:hover{
        text-decoration: underline;
    }
}