/* CSS DE LA CABECERA */

header{
    text-align: center;
    background-color: rgb(219, 218, 221);
}

.titulo{
    color: orange;
}
.logo{
    max-width: 100px;
    float: left;
}
.idiomas{
    max-width: 40px;
    gap: 10px;
}