/* CSS DE LA CABECERA */

header {
    background-color: rgb(219, 218, 221);
    flex-grow: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo {
    color: orange;
    flex-grow: 1;
    text-align: center;
}

.logo {
    max-width: 100px;
}

.idiomas {
    max-width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}