/* CSS PARA PROYECTO MIN CARD */
.negrita{
    font-weight: bold;
}

.subrayado{
    text-decoration: underline;
}

.imagenAlumno{
    width: 100%;
    max-width: 100px;
    float: left;
    margin: 10px;
    border: 1px solid black;
}